@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*, html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* Home Styles */
.home_container{
    background: url('../assests/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: block;
    background-position: center center;
    position: relative;
}

/* Navbar */
nav{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

/* Logo */
.fa-q{
    font-size: 30px;
    color: #fff;
    font-weight: bolder;
}

/* Center */
.navigation{
    display: flex;
}

.navigation .basic_nav{
    list-style: none;
    margin-right: 35px;
}

.navigation .basic_nav:nth-child(4){
    margin-right: 0;
}

.basic_nav .links{
    text-decoration: none;
    color: #fff;
    transition: .3s all;
    font-size: 18px;
}

/* Schedule Btn */
.schedule_btn{
    background: rgba(178, 101, 49, 0.65);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.2px);
    -webkit-backdrop-filter: blur(7.2px);
    border: 1px solid rgba(178, 101, 49, 0.3);
    color: #fff;
    padding: 8px 10px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

/* Hamburger */

.hamburger{
    display: none;
}

.fa-bars{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

/* Main */
main{
    width: 90%;
    margin: 50px auto;
    color: #fff;
}

.home_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
}

.left_content{
    width: 75%;
}

.right_img{
    width: 23%;
}

/* Date Range */
.range_date{
    display: flex;
    align-items: baseline;
    background: rgba(180, 97, 97, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 5px;
    width: 300px;
    color: #ffff;
    z-index: -99;
    cursor: pointer;
}

.fa-calendar-days{
    color: #FFFF00;
    margin-right: 8px;
}

.down{
    display: none;
}

.from_to_date{
    font-size: 12px;
}

.country_data{
    text-align: justify;
    font-size: 6vw;
}

.country_data::after{
    content: "";
    display: inline-block;
    width: 100%;
}

.nature_head{
    font-size: 25px;
    font-weight: 100;
}

/* Let's go */

.round_letgo{
    border: 3px solid #FFFF00;
    width: 105px;
    height: 105px;
    padding: 25px;
    text-decoration: none;
    text-align: center;
    display: block;
    border-radius: 50%;
    font-size: 16px;
    position: relative;
    font-weight: 500;
    background: rgba(180, 97, 97, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: all 0.1s;
    cursor: pointer;
}

.fa-arrow-right{
    color: #FFFF00;
}

.round_map{
    position: absolute;
    top: -15%;
    right: 0;
    border: 3px solid #fff;
    width: 30px;
    text-decoration: none;
    text-align: center;
    display: block;
    border-radius: 50%;
    color: #fff;
    font-size: 15px;
    background-color: #111;
}

/* Home Footer */
.home_footer{
    color: #babeb8;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 90%;
}

.left_home_footer_side{
    display: flex;
}   


.left_home_footer{
    border-right: 1px solid #babeb8;
    padding-right: 10px;
    margin-right: 5px;
    height: 50px;
}

.country_na{
    color: #fff;
}

.right_home_footer{
    padding-left: 10px;
}

.youtu, .twitt, .insta{
    width: 30px;
    height: 30px;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    display: block;
    border-radius: 50%;
    border: 1px solid #babeb8;
    margin: 8px 0;
    cursor: pointer;
}

.insta{
    margin-top: 0;
}

/* About */

.about{
    height: 100vh;
}
/* Grid */

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr auto;
    padding: 10px;
    width: 70%;
    height: calc(60vh - 10px);
    margin: 130px auto;
}

.grid-item {
    padding: 20px 5px 0 20px;
}

.left_top_about{
    background: url('../assests/greenary.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    background-position: center center;
    color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: relative;
}

.text_on_greenary{
    color: #ffffff;
}

.percentage{
    color: #fff;
    font-size: 4.15vw;
    margin-right: 8px;
    font-weight: bolder;
}

.text_on_greenary #sub_text{
    font-size: 13px;
}

.text_bottom_on_greenary{
    display: flex;
    align-items: baseline;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    color: #ebf0e9;
}

.fa-location-dot{
    margin-right: 5px;
}

/* Right part of top */
.right_top_about{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.first_text{
    display: flex;
}

.first_text h2{
    margin-right: 8px;
    font-size: 2.1vw;
    font-weight: 100;
}

.first_text .sub_text_first{
    font-size: 1.2vw;
}

.sec_text h1{
    font-size: 3.4vw;
    margin-left: 35px;
}

#forever{
    margin-left: 8px;
}

/* Bottom About */

.bottom_about{
    background-color: #e8efe6;
}

.book_slot{
    padding: 15px 0px 15px 15px;
    background-color: #150F19;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}

.book_slot a{
    color: #fff;
    font-size: 1.3vw;
}

/* grid ends */

/* Timeline */

.timeline{
    background: url('../assests/timeline.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: block;
    background-position: center center;
    position: relative;
}

.timeline_content{
    display: flex;
    width: 80%;
    margin: 0px auto;
    padding-top: 55px;
    align-items: center;
    justify-content: space-between;
}

/* Left part of timeline */
.timeline_head_left{
    width: 35%;
}

#timeline_title{
    font-weight: 600;
    font-size: 3.56vw;
    margin-bottom: 8px;
}

.see_timeline{
    border: none;
    outline: none;
    background-color: #e8c155;
    padding: 5px 15px;
    font-size: 1.46vw;
    cursor: pointer;
}
/* Right part of timeline */

.timeline_batch_right{
    width: 58%;
    background-color: #fafafa;
    padding: 20px;
}

.batch{
    padding: 20px 0;
    border-bottom: 1px solid #babeb8;
}

.batch_title{
    color: #BBBB;
}

.batch_date_pick{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date_recommend{
    display: flex;
    align-items: center;
}

.time_date{
    margin: 8px 0;
    outline: none;
    border: none;
    background: transparent;
    font-size: 2vw;
    cursor: pointer;
    width: 45%;
}

.over_date{
    color: #babeb8 !important;
}

.end{
    font-size: 1.23vw;
    margin-left: 5px;
    color: #babeb8;
}

.participants{
    font-size: 1.23vw;
    text-decoration: underline;
    cursor: pointer;
}

#avail{
    color: #DECB96; 
    background-color: #FBF4DD; 
    border: 1px solid #DECB96;
    border-radius: 5px;
    outline: none;
    padding:0 5px;
    font-size: 1.23vw;
    margin-left: -9px;
}

.arrow{
    color: #111 !important;
    cursor: pointer;
}

.disclaimer{
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.globe{
    width: 30px;
    padding: 5px 6px;
    text-decoration: none;
    display: block;
    border-radius: 50%;
    color: #fff;
    background-color: #111;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    margin-right: 5px;
}

.accept{
    font-size: 1vw;
}

/* Information */
.information{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(229,224,220);
    background: linear-gradient(180deg, rgba(229,224,220,1) 0%, rgba(166,184,196,1) 100%);
}

.info_content{
    width: 80%;
    margin: 0px auto;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left_info_nav{
    width: 35%;
}

/* Left Info Nav Detailing */
.navigate{
    list-style: none;
    margin: 15px 0;
    cursor: pointer;
    border-bottom: 1px solid #babeb8;
    padding-bottom: 8px;
}

.navigate .nav_links{
    text-decoration: none;
    color: rgba(249, 249, 249, 0.733);
    font-weight: 600;
    font-size: 2vw;
    transition: transform .2s;
}

.nav_links.active{
    color: #111;
}

.navigate .nav_links:hover{
    transform: scale(1.5);
    color: #111;
}

/* Right info tab detailing */
.right_info_content{
    width: 60%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 15px;
}

.tab_head{
    width: 100%;
    border-bottom: 1px solid #babeb8;
    padding-bottom: 8px;
}

.tablinks{
    border: 1px solid #babeb8;
    border-radius: 5px;
    padding: 8px 12px;
    outline: none;
    background: transparent;
    cursor: pointer;
}


.tablinks:hover , .tablinks.active{
    background-color: #111;
    color: #ffff;
}

.tab_desc h3{
    font-size: 1.5vw;
    margin-top: 10px;
}

.tab_desc p{
    font-size: 1vw;
    text-align: justify;
    margin: 12px 0;
}

.blog_btn_and_data{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog_btn{
    font-size: 1vw;
}

.data{
    display: flex;
    align-items: center;
}

.details{
    font-size: 0.8vw;
}

.loc_img{
    width: 50px;
    height: 50px;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    display: block;
    border-radius: 50%;
    position: relative;
    margin-left: 3px;
}

.small_img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/* Contact */
.contact{
    width:90%;
    height: 100vh;
    margin: 0 auto;
}

.container {
    border-radius: 5px;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact_title{
    padding-top: 35px;
    font-size: 1.6vw;
}

#fname, #lname, select, textarea, input[type=submit] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
    resize: vertical;
    outline: none;
}

form{
    width: 45%;
}

#map{
    width: 45%;
}

.map{
    width: 100%;
}


/* Responsive */

@media only screen and (max-width: 992px) {
    /* Contact */
    .container{
        width: 100%;
    }

    #map{
        width: 55%;
    }

    .map{
        width: 100%;
    }

    #fname, #lname, select, textarea, input[type=submit]{
        width: 90%;
    }
}

@media screen and (max-width:768px) {

    /* Navbar */
    .navigation, .schedule_btn{
        display: none;
    }

    .hamburger{
        display: block;
    }

    .navigation.navi{
        display: block;
        width: 100%;
        position: fixed;
        height: 100vh;
        left: 0;
        right: 0;
        top: 12%;
        flex-direction: column;
        text-align: center;
        transition: all .5s;
        background: rgba(180, 97, 97, 0.4);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(9px);
        -webkit-backdrop-filter: blur(5px);
        z-index: 1;
        padding: 0 15px;
    }

    .navigation .basic_nav{
        margin: 65px 0;
        border: 1px solid #fff;
    }

    .basic_nav .links {
        font-size: 25px;
    }

    /* About */

    .grid-container {
        grid-template-columns: 1fr 1fr;
        width: 85%;
    }

    .grid-item {
        padding: 20px 5px 0 10px;
    }

    .right_top_about {
        justify-content: center;
    }

    #forever{
        margin-left: 4px;
    }

    .book_slot{
        padding: 5px 13px;
    }

    /* Contact */

    form{
        width: 100%;
    }

    form label{
        font-size: 2.1vw;
    }
    
    #map{
        display: none;
    }

    #fname, #lname, select, textarea, input[type=submit]{
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
     /* About */

     .grid-container {
        grid-template-columns: 1fr;
    }

    .text_on_greenary{
        height: 280px;
    }

    .right_top_about {
        align-items: center;
    }

    .first_text h2{
        font-size: 18px;
    }

    .first_text .sub_text_first{
        font-size: 12px;
    }

    .sec_text h1{
        font-size: 20px;
    }

    .book_slot a {
        font-size: 12px;
    }

    .sec_text h1 {
        margin-left: 10px;
    }

    .bottom_about{
        margin-top: 10px;
    }

    /* Timeline */

    .timeline{
        margin-top: 70px;
    }

    .see_timeline{
        font-size: 1.73vw;
    }

    .timeline_batch_right{
        width: 75%;
    }

    .time_date{
        font-size: 2.2vw;
    }

    .end{
        font-size: 1.73vw;
    }

    .participants{
        font-size: 1.73vw;
    }

    .accept{
        font-size: 1.63vw;
    }

    /* Information */
    .info_content{
        flex-direction: column;
    }

    .left_info_nav{
        width: 100%;
    }

    .info_nav{
        display: flex;
        justify-content: center;
    }

    .navigate{
        border-bottom: none;
        border-right: 1px solid #babeb8;
        padding: 0 15px;
    }

    .navigate:nth-child(4){
        border-right: none;
    }

    .navigate .nav_links{
        font-size: 2.5vw;
    }

    .right_info_content{
        margin-top: 30px;
        width: 90%;
    }

    .tab_desc h3 {
        font-size: 2.6vw;
    }

    .tab_desc p{
        font-size: 1.9vw;
    }

    .details{
        font-size: 1.7vw;
    }

    .blog_btn{
        font-size: 1.73vw;
    }

}

@media screen and (max-width:496px) {
    /* Main */

    main{
        margin: 0px auto 10px auto;
    }
    
    .home_content{
        flex-direction: column;
        text-align: center;
        padding-top: 0px;
    }

    .home_footer{
        bottom: 30px;
    }

    .range_date {
        width: 100%;
        justify-content: center;
    }

    .from_to_date{
        font-size: 10px;
        color: #fff;
    }

    .country_data{
        text-align: center;
        margin-top: 10px;
    }

    .round_letgo{
        width: 95px;
        height: 95px;
        padding: 17px;
        font-size: 16px;
    }

    /* Home Footer */
    .home_footer {
        flex-direction: column;
    }

    .left_home_footer_side{
        margin-top: 15px;
        flex-direction: column;
        text-align: center;
    }

    .left_home_footer{
        border-right: 0;
        border-bottom: 1px solid #babeb8;
        margin-bottom: 5px;
        padding-right: 0;
        padding-bottom: 5px;
    }

    .right_home_footer_side{
        display: flex;
        justify-content: space-around;
        margin-top: 45px;
    }

    .insta{
        margin-top: 8px;
    }

    .youtu, .twitt, .insta{
        width: 50px;
        height: 50px;
        padding: 5px;
        font-size: 25px;
    }

    /* Timeline */
    .timeline_content{
        flex-direction: column;
        text-align: center;
    }

    #timeline_title{
        font-size: 5vw;
    }

    .timeline_head_left{
        margin-bottom: 20px;
    }

    .timeline_batch_right{
        width: 100%;
    }

    .see_timeline{
        font-size: 11px;
    }

    .time_date{
        font-size: 16px;
    }

    .end{
        font-size: 10px;
    }

    .participants{
        font-size: 10px;
    }

    #avail{
        margin-left: 0;
    }

    .accept{
        font-size: 10px;
    }


    /* Information */
    .information{
        height: 80vh;
    }

    .navigate {
        padding: 0 5px;
    }

    .navigate .nav_links{
        font-size: 13px;
    }

    .tab_desc h3{
        font-size: 13px;
    }

    .tab_desc p{
        font-size: 10px;
    }

    /* Contact */
    .contact_title{
        font-size: 14px;
    }
    
    form label{
        font-size: 13px;
    }

    #fname, #lname, select, textarea, input[type=submit]{
        font-size: 12px;
    }
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}


